export GRAFANA_URL=http://grafana.vagrant.test:3000
#export GRAFANA_USER=admin
export GRAFANA_TOKEN="eyJrIjoid0NtT2RqV0NiMlBzMUFoUWpJUDRLTkx0SWQ0UmNOWGwiLCJuIjoiYXV0by1nZW5lcmF0ZWQtdG9rZW4iLCJpZCI6MX0="
